<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CariResto App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
    <link rel="icon" href="favicon.png" />
  </head>

  <body>
    <a href="#restaurants" class="skip-link">Menuju ke konten</a>

    <app-header></app-header>
    <main id="primaryContent"></main>
    <footer>
      <p class="footer__copyright">Copyright © 2020 CariResto</p>
    </footer>
  </body>
</html>
