<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Web App For Find Best Restaurant In Indonesia"
    />
    <meta name="keywords" content="Cari Resto" />
    <title>CariResto App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
    <link rel="icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#EFA349" />
  </head>

  <body>
    <a href="#restaurants" class="skip-link">Menuju ke konten</a>
    <app-header></app-header>
    <main id="primaryContent"></main>
    <app-footer></app-footer>
  </body>
</html>
