<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CariResto App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Work+Sans:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
    <link rel="icon" href="favicon.png" />
  </head>

  <body>
    <a href="#restaurants" class="skip-link">Menuju ke konten</a>

    <header>
      <div class="header__content">
        <div class="app__bar">
          <a id="menu__button" href="#" aria-label="navigation-menu">☰</a>
          <a href="./index.html" class="logo">
            <img src=" ./svg/logo.svg" alt="Logo Cari Resto"
          /></a>
        </div>
        <nav id="app__menu">
          <ul>
            <li><a href="#/home" class="active">Home</a></li>
            <li><a href="#/favorites">Favorites</a></li>
            <li>
              <a href="https://www.instagram.com/come.said/" target="_blank"
                >About Us</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="primaryContent">

    </main>
    <footer>
      <p class="footer__copyright">Copyright © 2020 CariResto</p>
    </footer>
  </body>
</html>
