/*
*** COLOR RULE
*/

// General Color
$white: #ffffff;
$black: #333333;
$lightBlack: rgba(51, 51, 51, 0.68);

// Component Color
$appBarColor: #10101a;
$drawerColor: #222222;
$appLogoColor: #ffd06c;
$primaryButtonColor: #ffcb5f;
$bodyContentColor: #787878;
$footerColor: #212121;
$separatorColor: #f6b76c;
$activeLinkColor:rgba(234, 182, 74, 0.84);
