header {
    background-color: $appBarColor;
    font-family: $WorkSans;
    a {
        @include reset__link;
    }

    .app__bar {
        padding: 10px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        #menu__button {
            margin-left: 1rem;
            color: $white;
            font-size: 1.5rem;
        }
        .logo {
            margin: 0 auto;
            img {
                width: 6.188rem;
            }
        }
    }
    
    nav#app__menu {
        background-color: $drawerColor;
        width: 250px;
        height: 100%;
        position: absolute;
        transform: translate(-250px, 0);
        transition: transform 0.3s ease-in-out;
        &.open {
            transform: translate(0, 0);
        }
        ul {
            margin-top: 1.3em;
            list-style-type: none;
            padding: 0 16px;
            li {
                padding: 0.6rem 0px;
                a {
                    text-decoration: none;
                    font-size: 1em;
                    color: white;
                    &.active{
                        color: $activeLinkColor;
                    }
                }
            }
        }
    }
}
