@media screen and (min-width: 650px) and (max-device-width: 900px) {
  .container {
    padding: 2.5rem 4rem !important;
  }

  header {
    padding: 0.2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .app__bar {
      padding: 1rem;
      flex-basis: 30%;
      flex-wrap: wrap;

      #menu__button {
        display: none;
      }

      .logo {
        margin: 0;

        img {
          margin-left: 1.5rem;
          width: 6.188rem;
        }
      }
    }

    nav#app__menu {
      background-color: $appBarColor;
      flex-basis: 70%;
      transform: translate(0, 0);
      position: static;

      ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin-top: 0;

        li {
          a {
            display: inline-block;
            min-width: 44px;
            padding: 1.1em 0.5em;
            text-decoration: none;
            font-size: 1em;
            color: white;

            &.active {
              color: $activeLinkColor;
            }
          }
        }
      }
    }
  }

  .jumbotron {
    background-image: url("../public/hero/hero-image-large.jpg");
    .jumbotron__content {
      padding: 4.5rem 0 3rem 0;
      color: $white;
      text-align: center;

      h1 {
        padding: 1.5rem 2.5rem 0.5rem 2.5rem;
        font-weight: bold;
        font-size: 2.7em;
        margin-bottom: 1.5rem;
      }

      h2 {
        padding: 0px 6.5rem;
        line-height: 35px;
        font-weight: 300;
        font-size: 1.5em;
      }
    }
  }

  main {
    .content {
      .featured {
        padding: 0 0 3rem 0;

        .featured__img {
          margin: 4rem 0 1rem 0;
          padding: 2.5rem 3rem;
        }

        .featured__content {
          h1 {
            font-size: 2.3em;
            color: $black;
            font-weight: bold;
            line-height: 48px;
          }

          p {
            font-size: 1.3em;
            color: $lightBlack;
            font-family: $DMSans;
            font-weight: 300;
            line-height: 32px;
          }
        }
      }

      .restaurants {
        padding: 2.3rem 0 5rem 0;
        background-color: $bodyContentColor;

        h1 {
          font-size: 2.3em;
          color: $black;
          font-weight: bold;
          line-height: 48px;
        }

        p {
          font-size: 1.3em;
          color: $lightBlack;
          font-family: $DMSans;
          font-weight: 300;
          line-height: 32px;
        }

        a {
          @include reset__link;
        }

        #loading_indicator {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 1.5em;
          grid-row-gap: 2.5rem;
          padding: 0 4rem;
        }
        .restaurants__list {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 1.5em;
          grid-row-gap: 2.5rem;
          padding: 0 4rem;

          a {
            .restaurant__item {
              margin: 0;

              .content {
                position: relative;
                padding: 15px 20px 10px 20px;
              }
            }
          }
        }
      }
      article.detail {
        #form__review {
          padding: 0 4rem 2.5rem !important;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding: 2rem 2.8rem !important;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0.2rem 4rem;

    .app__bar {
      flex-basis: 30%;
      flex-wrap: wrap;

      #menu__button {
        display: none;
      }

      .logo {
        margin: 0;

        img {
          width: 6.188rem;
        }
      }
    }

    nav#app__menu {
      flex-basis: 70%;
      background-color: $appBarColor;
      transform: translate(0, 0);
      position: static;
      padding: 0 1.5rem;

      ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin-top: 0;

        li {
          a {
            display: inline-block;
            min-width: 44px;
            padding: 1.1em 0.5em;
            text-decoration: none;
            font-size: 1em;
            color: white;

            &.active {
              color: $activeLinkColor;
            }
          }
        }
      }
    }
  }

  .jumbotron {
    background-image: url("../public/hero/hero-image-large.jpg");

    .jumbotron__content {
      padding: 5.5rem 0 3rem 0;

      h1 {
        padding: 1.5rem 2.5rem 0.5rem 2.5rem;
        font-size: 2.5em;
        margin-bottom: 1.5rem;
      }

      h2 {
        font-size: 1.4em;
      }
    }
  }

  main {
    .content {
      .featured {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 0 3rem 0;

        .featured__img {
          margin: 4rem 0 1rem 0;
          padding: 0 2rem;
        }

        .featured__content {
          margin: 4rem 0 1rem 0;

          h1 {
            margin-top: 1em;
            font-size: 2em;
          }

          p {
            font-size: 1.1em;
          }
        }
      }

      .restaurants {
        padding: 2.3rem 0 5rem 0;
        background-color: $bodyContentColor;

        h1 {
          font-size: 2.3em;
          color: $black;
          font-weight: bold;
          line-height: 48px;
        }

        p {
          font-size: 1.3em;
          color: $lightBlack;
          font-family: $DMSans;
          font-weight: 300;
          line-height: 32px;
        }

        a {
          @include reset__link;
        }

        #loading_indicator {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 1.5em;
          grid-row-gap: 2rem;
          padding: 0 2.8rem;
        }
        .restaurants__list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 1.5em;
          grid-row-gap: 2rem;
          padding: 0 2.8rem;
          a {
            .restaurant__item {
              margin: 0;
              .content {
                position: relative;
                padding: 15px 20px 10px 20px;
              }
            }
          }
        }
      }

      .favorites_restaurant {
        padding: 2rem 0;
        h1 {
          font-size: 2.3em;
          color: $black;
          font-weight: bold;
          line-height: 48px;
        }

        p {
          font-size: 1.3em;
          color: $lightBlack;
          font-family: $DMSans;
          font-weight: 300;
          line-height: 32px;
        }

        a {
          @include reset__link;
        }

        #loading_indicator {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 1.5em;
          grid-row-gap: 2rem;
          padding: 0 2.8rem;
        }
        .restaurants__list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 1.5em;
          grid-row-gap: 2rem;
          padding: 0 2.8rem;
          a {
            .restaurant__item {
              margin: 0;
              .content {
                position: relative;
                padding: 15px 20px 10px 20px;
              }
            }
          }
        }
      }
    }

    article.detail {
      .restaurant__title {
        margin-top: 0;
        font-size: 2.3em;
      }

      .main__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.5rem;
      }

      .restaurant_img {
        img {
          border-radius: 8px;
          height: 100%;
          object-fit: cover;
        }
        .skeleton-ui-square {
          height: 20rem;
        }
      }

      .restaurant__categories {
        font-weight: 600;
        font-size: 1.6em;
        margin: 1.9rem 0 1rem;
      }

      .category__wrapper {
        display: flex;

        .category {
          margin-right: 1rem;
          padding: 0.5rem 1.5rem;
        }
      }

      p.description {
        margin: 1rem 0;
      }

      .detail__subtitle {
        margin-top: 3rem;

        h3 {
          font-size: 1.2em;
        }

        hr.separator {
          margin: 1rem 0 !important;
        }
      }

      .secondary_content {
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .menu {
          margin-top: 0;

          ul {
            margin-left: 0.8rem;
          }
        }
      }

      .customer__reviews {
        max-width: 60%;

        .review_item {
          @include card-style;
          margin: 1rem 0;
          padding: 1rem;

          p {
            &.reviewer_name {
              font-family: $WorkSans;
              font-style: normal;
              font-weight: 500;
              font-size: 1em;
              color: $black;
            }

            &.review_date {
              font-family: $WorkSans;
              font-style: normal;
              font-weight: normal;
              font-size: 0.9em;
              line-height: 32px;
              color: $black;
            }

            &.review_content {
              font-family: $DMSans;
              font-style: normal;
              font-weight: normal;
              font-size: 1em;
              line-height: 19px;
              color: #676767;
            }
          }
        }
      }
    }

    #form__review {
      padding: 0 2.8rem 4rem !important;
      .review_form {
        width: 100%;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .input_name,
        .input_description {
          width: 100%;
          min-height: 1.8rem;
          border: 1px solid #cdcdcd;
          padding-left: 0.3rem;

          border-radius: 4px;
          font-family: $DMSans;
          color: grey;
        }

        input {
          margin-bottom: 0.5rem;
        }

        textarea {
          padding: 0.5rem 1rem;
        }

        button {
          &.review_btn {
            margin: 1.5rem 0;
            width: 100%;
            min-height: 45px;
            @include reset__link;
            display: inline-block;
            padding: 0.5rem 3.7rem;
            background-color: #e0ad3d;
            font-family: $DMSans;
            font-size: 1em;
            font-style: normal;
            font-weight: bold;
            line-height: 26px;
            cursor: pointer;
            border: none;
            border-radius: 7px;

            &:hover {
              background-color: #c5952d;
              color: white;
            }

            &:focus {
              background-color: #ce9928;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .jumbotron {
    background-image: url("../public/hero/hero-image-xl.jpg");
  }
  main {
    .content {
      .featured {
        margin: 0 auto;
        max-width: 1200px;
      }

      .restaurants {
        #loading_indicator {
          margin: 0 auto;
          max-width: 1200px;
          grid-template-columns: repeat(4, 1fr);
        }
        .restaurants__list {
          margin: 0 auto;
          max-width: 1200px;
          grid-template-columns: repeat(4, 1fr);
        }
      }

      .favorites_restaurant {
        padding: 2.5rem 0;
        .restaurants__list {
          margin: 0 auto;
          max-width: 1200px;
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }

    article.detail {
      .restaurant_img {
        .skeleton-ui-square {
          height: 20rem;
        }
      }
      #form__review {
        max-width: 1200px;
        margin: 0 auto;
      }
    }
  }
}
